html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}
/* header section  */
.header{
    width: 26rem;
}
.img {
    position: absolute;
    left: 0rem;
}
.company {
    position: absolute;
    top: 2.7rem;
    left: 3rem;
    font-size: 1.2em;
}
.navbar {
    display: none;
    flex-direction: column;
   margin-left: 15rem;
    border: 2px solid;
    position: fixed;
    left: -100rem;
    top: 0;
    right: 0;
    width: 16rem;
    background: white;
    box-shadow: 0 0 0 1vw rgb(0 0 0 / 70%);
    height: 100%;
    text-align: center;
    z-index: 1100;
}
#close{
    position: relative;
    display: block;
    margin-right: -12rem;
    top: -21rem;
    font-size: 2rem;
    background: none;
}
.navbar ul{
    flex-direction: column;
    line-height: 4rem;
}
.h-left{
    display: block;
    left: -16rem;
    transition: all 0.3s ease-in;
}
.v-hidden{
    visibility: hidden;
    opacity: 0;
}
.icons {
    position: relative;
    left: 19rem;
    top: 2rem;
}
#bar{
    display: block;
    margin-left: -1.3rem;
    font-size: 1.5em;
    border: 2px solid black;
    width: 26px;
    margin-top: -1.7rem;
}
/* contactinfo section  */
.contactinfo {
    position: fixed;
    left: 6rem;
    height: 42rem;
}
.contactinfo .box {
    height: 40rem;
}
.contactinfo .box i{
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 3rem;
    margin-left: 8.6rem;
    margin-top: -1rem;
}
.contactinfo .box h3{
    text-transform: capitalize;
    position: relative;
    left: 0rem;
    top: -0.9rem;
    font-size: 1.5rem;
}
.contactinfo .span{
    position: relative;
    top: -1.5rem;
    left: 3.4rem;
    font-size: 1.5rem;
}
.contactinfo p{
    position: relative;
    top: -1rem;
    font-size: 1.5rem;
    left: 0.3rem;
}
.contactinfo .social{
    display: flex;
}
.contactinfo .social i{
    position: relative;
    left: -8.4rem;
    top: 16px;
 }
.contactinfo span a {
    height: 3rem;
    text-decoration: none;
    cursor: pointer;
}
#cross {
    position: relative;
    top: 1rem;
    left: -6rem;
}
/* Search Section  */
.search {
position: relative;
left: 6rem;
}
/* home section start */
#home-section {
    width: 26rem;
}
#home-section .h1 {
    position: absolute;
    left: 8rem;
    width: 14rem;
    font-size: 1.2rem;
    top: 1rem;
}
#home-section .p1 {
    position: absolute;
    left: 8rem;
    width: 14rem;
    font-size: 0.9rem;
    top: 5.4rem;
}
#home-section .btn {
    position: absolute;
    left: 12rem;
    width: 7rem;
    font-size: 1rem;
    top: 10rem;
}
#home-section .h2 {
    position: absolute;
    left: 1rem;
    width: 13rem;
    font-size: 1.2rem;
    top: 2rem;
}
#home-section .p2 {
    position: absolute;
    left: 2rem;
    width: 14rem;
    font-size: 0.9rem;
    top: 5rem;
}
#home-section .btn2 {
    position: absolute;
    left: 5rem;
    width: 7rem;
    font-size: 0.9rem;
    top: 9.3rem;
}
#home-section .h3 {
    position: absolute;
    left: 4rem;
    width: 18rem;
    font-size: 1.5em;
    top: 2rem;
}
#home-section .p3 {
    position: absolute;
    left: 5rem;
    width: 16rem;
    font-size: 1rem;
    top: 5rem;
    text-transform: capitalize;
    color: snow;
}
#home-section .btn3 {
    position: absolute;
    left: 9rem;
    width: 7rem;
    font-size: 1rem;
    top: 10rem;
}
#home-section .h4 {
    position: absolute;
    left: 6rem;
    width: 17rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    top: 3rem;
}
#home-section .p4 {
    position: absolute;
    left: 6rem;
    width: 17rem;
    font-size: 0.9rem;
    top: 6rem;
    text-transform: capitalize;
    color: mediumaquamarine;
}
#home-section .btn4 {
    position: absolute;
    left: 11rem;
    width: 7rem;
    font-size: 0.9rem;
    top: 10.3rem;
}
/* services section  */

#services {
    flex-direction: column;
}
#services .box {
    width: 20rem;
}
/* project-container section */

#project-container {
    position: relative;
    top: 82rem;
}
/* Experience-container section */
#Experience-container {
    position: relative;
    top: 38rem;
}
#h-primary {
    flex-direction: column;
}
#Experience-container .box p{
    position: relative;
    left: 0rem;
    top: -1rem;
}
#Experience-container .box .p1{
    position: relative;
    left: 1rem;
    top: 0rem;
}
#Experience-container .box .p2{
    position: relative;
    left: 1rem;
    top: -1rem;
}
#Experience-container .box .p3{
    position: relative;
    left: 0.4rem;
    top: -1rem;
}
/* About-contianer section */

#About-contianer {
    position: relative;
    top: 115rem;
    width: 23rem;
    left: 1rem;
    height: 46rem;
}
#about2 .box h3 {
    position: relative;
    top: 1rem;
    width: 22rem;
    align-content: center;
    font-size: 2rem;
}
#about2 .box img {
    margin-top: 1rem;
    height: 30vh;
    width: 39vh;
    margin-left: -1rem;
}
#about2 .box p {
    width: 23rem;
    margin-left: -1rem;
    margin-top: 1rem;
    word-spacing: 0.4rem;
    line-height: 2rem;
}

/* Plan section */

#Plan-conatiner {
    position: relative;
    top: 84rem;
    left: 0rem;
    width: 27rem;
}
#Plan {
    flex-direction: column;
}
#btn1 .btn1 {
    position: relative;
    left: 4.3rem;
    top: 54.2rem;
}
#btn2 .btn2 {
    position: relative;
    left: 3.9rem;
    top: 82.3rem;
}

/* Client section */

#Client-container {
    position: relative;
    top: 83rem;
}
#Client-container .image {
    position: absolute;
    display: block;
    width: 67%;
    height: 28%;
    left: 1rem;
    top: -1rem;
}
#Client-container .centre {
    font-size: 1rem;
    top: -5rem;
    left: 2.2rem;
}
#Client-container .para {
     position: absolute;
     left: -1rem;
     top: 7rem;
     width: 142px;
     height: auto;
     line-height: 3rem;
}
#Client-container .none-resp{
    opacity: 0;
}
#Client-container i {
    position: relative;
    left: -1rem;
    top: 11rem;
}

/* Footer section */

#Footer-container {
    position: relative;
    bottom: -88rem;
    height: 55rem;
}
#footer .location .basti {
    width: 31vh;
    height: 19vh;
}
#footer .location {
    width: fit-content;
}
#footer {
    width: 14rem;
    height: 10rem;
}
#footer .address {
    position: relative;
    bottom: -3rem;
    left: 4rem;
}
#form {
    position: absolute;
    left: 3.3rem;
    top: 21rem;
    width: 21rem;
    height: 27.3rem;
}
#Copy {
    position: absolute;
    bottom: 4rem;
    left: 3rem;
    font-size: 1rem;
    width: 32rem;
}